/*.sub-heading{*/
/*    border-top: 1px solid gray;*/
/*    color: white;*/
/*}*/



/*new home css*/

.home-grid{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-right: 20px;
}
.home-grid>div{
    margin-bottom: 30px;
}
.counts{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    justify-content: space-around;
    padding-top: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    height: max-content;
}

.supervisor-counts{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    justify-content: space-around;
    padding-top: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    height: max-content;
}

.count-title{
    display: flex;
    justify-content: flex-end;
    padding-left: 60px;
    margin: 0;
    line-height: 1rem;
}

.count-value{
    text-align: right;
    font-size: 2rem;
    font-weight: 200;
    margin: 20px 10px 7px;
}

.graphs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    justify-content: space-around;
}

.total-complaints{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;

}

.total-resolved-complaints{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;



}
.total-unresolved{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;
}

.total-assigned-complaints{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;


}
.total-rejected-complaints{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;


}
.total-supervisors{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;
}

.total-supervisors-hidden{
    display: none;
}

.daily-graph{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;
}

.monthly-graph{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;
}

.yearly-graph{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;
}

.select-dropdown{
background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    display: flex;
    padding: 0 10px;
    border-radius: 5px;

}

select{
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 0 8px 18px;
}

.table-and-piechart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
}
/*Media query*/

@media (max-width: 1200px) {
    .counts{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-top: 20px;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        height: max-content;
    }

    .table-and-piechart{

        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;

    }

    .graphs{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}


@media (max-width: 700px){
    .counts{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 20px;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        height: max-content;

    }
}

@media (max-width: 550px){
    .counts{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 20px;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        height: max-content;

    }
}
