.resolve-main {
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  padding: 5px;
}

.resolve-heading {
  text-align: left;
  height: max-content;
  border-top: 1px solid #99999957;
}

.no-resolve-time-heading {
  text-align: center;
  min-height: 175px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.resolve-text {
  margin: 10px 0 0 0;
}
