/*.circle {*/
/*  background: teal;*/
/*  border-radius: 50%;*/
/*  width: 250px;*/
/*  height: 250px;*/
/*  position: absolute;*/
/*  top: 37%;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

.error-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  background: teal;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin:auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

/*.centered-text {*/
/*  color: white;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  display: flex;*/
/*  position: absolute;*/
/*  top: 37%;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

.centered-text{
  margin: 20% auto auto;
  color: white;
}
/*.bottom-text{*/
/*  color: black;*/
/*  font-weight: normal;*/
/*  font-size: 27px;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  display: flex;*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/* bottom: 20%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

.bottom-text{
  color: black;
  font-weight: normal;
  font-size: 27px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #f2f2f2;
}

.child {
  margin: 0;
  text-shadow: 2px 2px 6px rgba(116, 116, 116, 0.534);
  text-align: center;
}

.parent {
  color: white;

  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
