/* type */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;

  transition: 0.3s ease;
  background-color: rgba(161, 158, 158, 0.137);
}

.myclass > .MuiBox-root {
  padding: 0 !important;
}
