.zone-main {
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 5px;
}

.zone-heading {
    text-align: left;
    border-top: 1px solid #99999957;
    margin-bottom: 0;

    /*background: linear-gradient(*/
    /*        60deg,*/
    /*        rgba(5, 85, 84, 1) 11.2%,*/
    /*        rgba(64, 224, 208, 1) 91.1%*/
    /*);;*/
    /*border-radius: 5px;*/
    /*padding: 20px;*/
    /*color: white;*/
    /*margin: -20px 15px 0 15px;*/
    /*box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px #27a6b066;*/
}

.zone-table {
    flex: 1 1 auto;
    padding: 0.9375rem 20px;
    position: relative;
    -webkit-box-flex: 1;
}

.zone-text {
    margin: 10px 0 0 0;
}