* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif !important;
}

/*new css*/

.dashboard-grid {
  overflow-y: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  background: linear-gradient(
    109.6deg,
    rgba(5, 85, 84, 1) 11.2%,
    rgba(64, 224, 208, 1) 91.1%
  );
}

.menu-view {
  margin-top: 10px;
}

.card-view-grid {
  background-color: #f3f3f3;
  box-shadow: 6px 6px 10px 0 rgba(112, 112, 112, 0.16);
  border-radius: 30px;
  margin: 10px;
  display: grid;
  grid-template-rows: 50px auto;
  grid-row-gap: 10px;
  padding: 10px;
}

.top-bar {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid teal;
  color: teal;
}

.content {
  /*min-width: 80vh;*/
  overflow-x: hidden;
}

/*old css*/

.dashboard {
  max-width: 1600px;
  margin: auto;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    109.6deg,
    rgba(5, 85, 84, 1) 11.2%,
    rgba(64, 224, 208, 1) 91.1%
  );

  /*background-image: linear-gradient(45deg, #11998e 30%, #38ef7d 90%);*/
  /*background-color: white;*/
  /*background: linear-gradient(45deg, #20B2AA 30%, #008080 90%);*/
}

.username-padding {
  padding-left: 12px;
  padding-right: 12px;
}

.notification-dropdown{
  max-height: 0;
  background-color: white;
  color: teal;
  position: absolute;
  margin-top: 5px;
  z-index: 1;
right: 50px;
  padding: 10px;
 border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  animation-name: notification;
  animation-duration: 3s;
  

}

@keyframes notification {

  100% {
    height: max-content;
  }
  
}

@media (max-width:900px) {
  .dashboard-grid {
    overflow-y: hidden;
    height: 100vh;
    display: flex;
   flex-direction: column;
    background: linear-gradient(
            109.6deg,
            rgba(5, 85, 84, 1) 11.2%,
            rgba(64, 224, 208, 1) 91.1%
    );
  }

  .menu-view {
    margin: 0;
    padding: 0;
    height: 60px;
  }

  .card-view-grid {
    background-color: #f3f3f3;
    box-shadow: 6px 6px 10px 0 rgba(112, 112, 112, 0.16);
    border-radius: 30px;
    margin: 0 10px 10px 10px ;
    display: grid;
    grid-template-rows: 50px auto;
    grid-row-gap: 10px;
    padding: 10px;
    height: 100%;
  }



}

